.dc_Card {
  background-color: white;
  padding: 20em 1.5em 1.5em; /* 16px - 1em */
  position: relative;
}

.dc_Card::before {
 content: "image";
 position: absolute;
 background-color: rgba(0, 0, 0, 0.1);
 background-image: url("../image/dgcb.jpg");
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 top: 0;
 left: 0;
 right: 0;
 height: 19em;
}


.dc_Card-overview {
  margin-bottom: 0.5em;
}

.dc_Card-overview-general {
  margin-bottom: 0.16em;
}

.dc_Card-overview-general-name {
  font-size: 1.5rem;
  margin-bottom: 0.333em;
  display: block;
}

.dc_Card-overview-contact-location {
  margin-bottom: 0.25em;
}

.dc_Card-overview-contact-location span {
  font-size: 0.75rem;
}

.dc_Card-overview-contact-socialNetworks-item {
  font-size: 1.5em;
  display: inline-block;
}

.dc_Card-overview-contact-socialNetworks-item {
  margin: 0 4px;
  transition: color ease 500ms;
}


.dc_Card-overview-contact-socialNetworks-item:last-child {
  margin-right: 0;
}

.dc_Card-overview-contact-socialNetworks-item:hover {
  color: #FF9AFD;
}

@media screen and (min-width: 576px) {
  body {
  display: flex;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
  }

  .dc_Card {
    width: 80%;
    box-shadow: 0em 0em 2.687em 0.125em rgba(0,0,0,0.55);

  }
  
  .dc_Card-overview-contact  {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
.dc_Card {
  padding-top: 1.5em;
  padding-left: 21.5em;
}

.dc_Card::before {
  height: 100%;
  width: 20em;
 background-image: url("../image/dgcb-desk.jpg");
  }
}

@media screen and (min-width: 992px) {
  .dc_Card {
    max-width: 50em;
    padding-left: 23em;
  }
  
  .dc_Card::before {
    left: 1.5em;
    top: -1.5em;
    bottom: -1.5em;
    height: auto;
    }
  
  }
